*{
	margin:0;
	padding:0;
}
.res{
	width: 100%;
	background-color: #333;
	height: 35px;
	color: #fff;
}
.input{
	width: 100%;
	background-color: #333;
	height: 100px;
	color: #fff;
}
ul{
	padding:0;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
}
li{
	width: 25%;
	list-style: none;
	text-align: center;
	color: #333;
	height: 103px;
	line-height: 103px;
	font-size: 50px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}